<div class="left-panel-div">
<button class="btn btn-primary" (click)="newViewport('map','VMAP','map')">Map VP</button>
<button class="btn btn-primary" (click)="newViewport('streetscape','VSS','Street Scape')">StreetScape VP</button>
<button class="btn btn-primary" (click)="newViewport('bestphoto','VBP','Best Photo')">BestPhoto VP</button>
<button class="btn btn-primary" (click)="newViewport('result','VRS','Results')">Results VP</button>
<button class="btn btn-primary" (click)="newViewport('cama','VCAMA','CAMA')">Cama VP</button>
<button class="btn btn-primary" (click)="newViewport('whatever','VWE','Whatever')">Whatever VP</button>
</div>
