<div class="main-div" *ngIf="sessionValid">
  <div class="left-div vp-left" [ngStyle]="leftDiv()" (drop)="dragEnd($event)"  (dragend)="dragEnd($event)" (dragover)="allowDrop($event)">
    <app-left-panel  [resized]="getPanel('left')" (newpanel)="newPanel($event)"></app-left-panel>
  </div>
  <div class="vertical-div" [ngStyle]="dragboxDiv()" draggable="true" (dragstart)="dragStart($event)"></div>
  <div class="right-div vp-right" [ngStyle]="rightDiv()"  (drop)="dragEnd($event)"  (dragend)="dragEnd($event)" (dragover)="allowDrop($event)" >
    <app-right-panel [resized]="getPanel('right')" [newPanelRequest]="newPanelRequest"></app-right-panel>
  </div>
</div>
<div class="waiting-div"></div>
<div class="login-div" *ngIf="!sessionValid">
 <login-component></login-component>
</div>