@import '~src/theme/variables.scss';

  .login-form {
    width: 100%;
  }

  h1 {
    font: {
      family: $font;
      weight: 400;
      size: 1.5rem;
    }
    text-transform: uppercase;
    text-align: center;
  }
  p {
    font: {
      family: $font;
      weight: 400;
      size: 1rem;
    }
    text-align: center;
  }
  .button {
    text-align: right;
    margin-top: 20px;
    border-radius: 0;
    height: 50px;
    width:50%;
    font: {
      family: $font;
      weight: 700;
      size: 1rem;
    }
    text-transform: uppercase;
  }
  .input {
    height: 100%;
    --padding-top: 5px;
    --padding-bottom: 5px;
    border: 1px solid #434343;
    --padding-start: 10px;
    font: {
      family: $font;
      weight: 400;
    }
  }

ion-label{
  font-weight: bold;
  text-transform: uppercase;
}
.header-col{
  width: 50%;
  .header-label{
    font-size: large; font-weight: bold;margin-right:30px; 
  }
}

.invalid-feedback{
  margin-bottom: 10px;
  .help-block{
    color: red;
    font-size: 0.8rem;
  }
}