<div class="flex-center-column" style="width:100%; height:100%;">
  <div class="login-sidebar" style="width:60%;left: 20%;position: absolute;">
    <div class="row" style="margin-bottom: 10px;">
      <div class="header-col" style="text-align: left;">
        <img src='assets/images/logo.svg' style="max-width:200px; width: 100%;" />
      </div>
      <div class="header-col" style="padding-top:10px">
        <span class="header-label">Update Password</span>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-12">
        <form [formGroup]="form" (ngSubmit)="changePassword()">
          <div style="margin-bottom: 10px;">
            <div>
              <div class="form-group">
                <label position="stacked" for="newpassword">New Password</label>
                <input type="password" class="form-control" name="newpassword" formControlName="newpassword" />
                <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                  <div *ngIf="f.newpassword.errors.required" class="help-block">New Password is required</div>
                  <div *ngIf="f.newpassword.errors.minlength" class="help-block">Minimum {{MIN_PASSWORD_LENGTH}}
                    characters</div>
                  <div *ngIf="f.newpassword.errors.maxlength" class="help-block">Maximum {{MAX_PASSWORD_LENGTH}}
                    characters</div>
                </div>
              </div>
              <div class="form-group">
                <label position="stacked" for="confirmpassword">Confirm Password</label>
                <input type="password" class="form-control" name="confirmpassword"
                  formControlName="confirmpassword" />
                <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmpassword.errors.required" class="help-block">Confirm Password is required</div>
                  <div *ngIf="f.confirmpassword.errors.minlength" class="help-block">Minimum {{MIN_PASSWORD_LENGTH}}
                    characters</div>
                  <div *ngIf="f.confirmpassword.errors.maxlength" class="help-block">Maximum {{MAX_PASSWORD_LENGTH}}
                    characters</div>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-bottom: 10px;">
            Please update your password. All new accounts need to update their password and some administrators require
            you to change your password periodically.
          </div>
          <div class="form-group" style="text-align: right;">
            <div>
              <div justify-content-end>
                <div *ngIf="loading">
                  <img
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
                <div size="6">
                  <button [hidden]="loading" expand="full" type="submit" style="width:100%" class="button-reverse">
                    Send</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>