<div class="flex-center-column" style="width:100%; height:100%;">
  <div class="login-sidebar" style="position: absolute;">
    <div class=" logo" style="margin-bottom: 10px;">
      <div class="header-col imagediv">
        <img src='assets/images/logo.svg' />
      </div>
    </div>
    <div class="login-content" style="margin-bottom: 10px;">
      <div class="signin-div">
        <div class="header-div">
          <div class="signin">
            Forgot Password
          </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="forgotPassword()">
          <div style="margin-bottom: 10px;">
            <div>
              <div class="form-group input-item">
                <label position="stacked" for="username">Username</label>
                <input type="text" class="form-control" name="username" formControlName="username" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required" class="help-block">Username is required</div>
                  <div *ngIf="f.username.errors.maxlength" class="help-block">Maximum {{MAX_USERNAME_LENGTH}} characters
                  </div>
                </div>
              </div>
              <div class="form-group input-item">
                <label position="stacked" for="email">Email</label>
                <input type="email" class="form-control" name="email" formControlName="email" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required" class="help-block">Email is required</div>
                  <div *ngIf="f.email.errors.email" class="help-block">Email Address is not valid</div>
                  <div *ngIf="f.email.errors.maxlength" class="help-block">Maximum {{MAX_USERNAME_LENGTH*2}} characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="message" style="margin-bottom: 10px;">
            Your password change request will be sent to your firm administrator and the system supporter. Please make
            sure your email address and username are the same as the ones provided to create your account.
          </div>
          <div class="form-group buttons-div">
            <div class="waiting col-md-4">
              <img *ngIf="loading"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            <div class="col-md-4">
              <button [disabled]="loading" class="btn btn-default" style="margin-left: 20px;"
                (click)="setMode('login')">Cancel
              </button>
            </div>
            <div class=col-md-4>
              <button [hidden]="loading" type="submit" class="btn btn-primary">
                Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>