<div class="flex-center-column" style="width:100%; height:100%;">
  <div class="login-content" style="width:60%;left: 20%;position: absolute;">
    <h3>Your password is updated.</h3>
    <form class="login-form">
      <div>
        <div align-items-end>
          <div size-sm="5"> </div>
          <div size-sm="7">
            <button expand="block" (click)="login()" class="button-reverse ion-float-right">Back to Login</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>