@import '~src/theme/variables.scss';

.login-form {
  margin-top: 43px;
  ion-grid {
    padding-right: 0;
    .row {
      .col {
        padding-right: 0;
      }
    }
  }
}

.button {
  text-align: right;
  margin-top: 20px;
  border-radius: 0;
  height: 50px;
  width:100%;
  font: {
    family: $font;
    weight: 700;
    size: 1rem;
  }
  text-transform: uppercase;
}

ion-label{
  font-weight: bold;
  text-transform: uppercase;
}
